body {
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header Principal */
.header {
    background-color: #000;
    display: flex;
    justify-content: center;
    /* Centrado del contenido */
    align-items: center;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Logo y nombre de LuxeLane */
.logo {
    font-size: 30px;
    /* Aumenté el tamaño del texto */
    font-weight: bold;
    color: #ff4500;
    /* Naranja para el logo */
    display: flex;
    align-items: center;
    margin-right: 50px;
    /* Separación entre el logo y el menú */
    font-family: 'Separat-Regular', cursive;
}

.logo img {
    width: 100px;
    /* Aumenté el tamaño de la imagen */
    height: 70px;
    /* Aumenté el tamaño de la imagen */
    margin-right: 10px;
    /* Espacio entre el logo y el nombre */
}

/* Menú de navegación */
nav {
    display: flex;
    gap: 20px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    background-color: #000;
}

/* Elementos del menú */
nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: rgb(255, 54, 0);
}

/* Estilos para los menús desplegables */
.dropdown {
    position: relative;
    display: inline-block;
}
